<%= render partial: "shared/nav" %>

<p><%= link_to 'Create new discount', new_merchant_bulk_discount_path(@merchant.id) %> </p>

<h4> All your bulk discounts: </h4>
<% @discounts.each do |discount| %>
  <div id = "merchant_discount-<%=discount.id%>">
    <p><%= link_to "Discount ##{discount.id}", merchant_bulk_discount_path(@merchant.id, discount.id)%></p>
    <p>Discount amount: <%=discount.discount%>%</p>
    <p>Discount quantity threshold: <%=discount.quantity%> items</p>
    <p><%= button_to "Delete Discount ##{discount.id}", merchant_bulk_discount_path(@merchant.id, discount.id), method: :delete %></p>
  </div>
<% end %>