<%= render partial: "shared/nav" %>

<h2><%= "Discount ##{@discount.id}" %></h2>

<h4>Quantity threshold: <%= @discount.quantity %> items</h3>

<h4>Discount percentage: <%= @discount.discount %>%</h3>

<%= link_to "Edit Bulk Discount", edit_merchant_bulk_discount_path(@merchant.id, @discount.id)%>